@model IEnumerable<BurgerProject_MVC_G4.Models.Entites.Menu>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Menus</h1>

<div class="container">
    <p>
        <a class="btn btn-success" asp-action="Create">Create New Menu</a>
    </p>
    <table class="table table-bordered table-hover">
        <thead class="bg-dark">
            <tr class="text-white text-center">
                <th style="width:14%;">
                    Cover Image
                </th >
                <th style="width:24%;">
                     MenuName
                </th>
                <th style="width:10%;">
                     Small Price
                </th>
                <th style="width:10%;">
                     Middle Price
                </th>
                <th style="width:10%;">
                    Big Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class=" text-center align-middle">
                    <td class="text-center">
                        <img src="/MenuImages/@item.CoverImage" width="80" height="80">
                    </td>
                    <td>
                        @item.MenuName
                    </td>
                    <td>
                        $@item.SmallPrice
                    </td>
                    <td>
                        $@item.MiddlePrice
                    </td>
                    <td>
                        $@item.BigPrice
                    </td>
                    <td class="text-center">
                        <a class="btn btn-info w-25" asp-action="Edit" asp-route-id="@item.MenuID">Edit</a>
                        <a class="btn btn-danger w-25" onclick="DeleteMenu(@item.MenuID)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/admin.js"></script>